<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'micro/style.css' %}" />
  <title>Settings</title>
</head> 
<body>

  <div id="header">

    {% if user.is_authenticated %}
      {{ user.username }}
      <a href="{% url 'micro:logout' %}">Log Out</a>
    {% else %}
      <a href="{% url 'micro:login' %}">Log In</a>
    {% endif %}
    {% block header %}{% endblock header %}

    <nav>
	    
        <ul id = "mainNav">
        <a href="/micro/">
          <li class = "navItem">
            Home
          </li>
        </a>

        <a href="/micro/follow/">
          <li class = "navItem">
            Follow
          </li>
        </a>

        <a href="/micro/settings/">
          <li class = "navItem">
            Settings
          </li>
        </a>


      </ul>
    
    </nav>
  </div>

  <h1 style="text-align: center; padding-bottom: 25px;">Settings Page</h1>


  <h3>Add a group</h3>
  <p>Type in the name of the group you want to create</p>
  <form action="/micro/addGroup/" method="post">
    {% csrf_token %}
    <input type=text id=newgroup name=newgroup>
    <input type="submit" value="Submit" id=submit>
  </form>

  <hr/>

  <h3>Delete a group</h3>
  <p>Type in the name of the group you want to delete</p>
  <form action="/micro/grouplist/" method="post">
    {% csrf_token %}
    <input type="submit" value="Click here to then search for the group" id=submit>
    <select name="groups" id="groups">
      {% for entry in items %}
          <option value="{{ entry.id }}">{{ entry }}</option>
      {% endfor %}
      </select>
  </form>

  <form action="/micro/deleteGroup/" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete" id=submit>
    
  </form>







  <hr/>

  <h3>Add user to a group</h3>
  <p>Select the user you want to add to the selected group</p>
  <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        {% csrf_token %}
        {{ form }}
    <input type="submit" value="Submit" id=submit>
  </form>

  <hr/>

  <h3>Delete a user from a group</h3>
  <p>Select the user you remove from the selected group</p>
  <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        {% csrf_token %}
        {{ form }}
    <input type="submit" value="Submit" id=submit>
  </form>


  



  <div id="sidebar">
    {% block sidebar %}{% endblock sidebar %}
  </div>
  <div id="content">
    {% block content %}{% endblock content %}
  </div>
  <div id="footer">
    <p>Copyright Scalica</p>
    {% block footer %}{% endblock footer %}
  </div>
</body>
</html>
